body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    color: rgb(63, 63, 63);
}

.text {
    margin: 18px;
}

h2 {
    margin-top: 36px;
    margin-bottom: -8px;
}

img {
    width: 100%;
}

img {
    border: 6px solid red;
}

.mark-green {
    background-color: greenyellow;
}

.header {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 990px) {
    .text {
        width: 50vw;
        margin: 0 auto;
    }
}